<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>


    <script type="text/javascript" src="javascripts/player.js"></script>
    <script type="text/javascript" src="javascripts/monster.js"></script>
    <script type="text/javascript" src="javascripts/game.js"></script>
    <script type="text/javascript" src="javascripts/map.js"></script>
  </body>
</html>